.categories-widget {

  &__wrapper {
    width: 300px;
  }

  &__title {
    margin-bottom: space(40px);
  }

  &__list {
    @extend %flex-column;
    gap: space('xl');
    margin-bottom: space(75px);
  }


}

.category-card--widget {
  display: flex;
  align-items: center;
  gap: space('base');
  padding: space('xl');
  max-width: 100%;
  @include border();


  .category-card__title {
    margin-top: 0;
  }


}
