.author-posts {

 &__title {
   margin-bottom: space('6xl');
 }

  &__list {
    @extend %flex-column;
    align-items: center;
    gap: space('6xl');
  }
}

.post-card--author {
  align-items: center;
  padding: 0;

  .post-card__media {
    margin-bottom: 0;
  }

  .post-card__body {
    max-width: 580px;
  }

  .post-card__subtitle{
    margin-bottom: space('base');
  }

  .post-card__category {
    color: color('accent-purple');
    @include heading(fs('xs'), fw('semi-bold'), lh('sm'),  0.19em);
    margin-bottom: space('lg');
  }

  .post-card__description {
    color: color('secondary-text-color');
  }
}
