.author-posts {

  &__content {
    @extend %flex;
    flex-direction: column;
    gap: space('6xl');
  }
}

.author-post {

  &__card {
    @extend %flex-center-y;
    gap: space( 'xxl');
  }

  &__body {
    max-width: 560px;
  }

  &__category {
    color: color('accent-purple');
    @include heading(fs('xs'), fw('semi-bold'), lh('sm'),  0.19em);
    margin-bottom: space('lg');
  }

  &__subtitle {
    margin-bottom: space('base');
  }

  &__description {
    color: color('secondary-text-color');
  }
}
