@include media('xxl') {

  .post-card--author {

    .post-card__media {
      width: 100%;
    }
    .post-card__body {
      width: 100%;
    }
    .post-card__subtitle {
      font-size: fs('md');
    }
  }
}

@include media(660px) {

  .author-posts__title {
    text-align: center;
  }
  .post-card--author.post-card--horizontal {
    flex-direction: column;
  }

  .post-card--author {
    .post-card__media {
      img {
        margin: 0 auto;
      }
    }
    .post-card__body {
      text-align: center;
    }
  }
}

@include media('sm') {
  .author-posts__title {
    font-size: fs('lg');
    margin-bottom: space('base');
  }
}
