.testimonials {

  $testimonials-btn-sizes: fs('xl');

  &__layout {
    @extend %flex-between;
    gap: space(96px);
    background-color: color('accent-light-yellow-color');
    padding: space(75px) space(110px);
  }

  &__header {
    flex: 1 1 40%;

    &--divided {
      padding-right: 80px;
      border-right: 1px solid color('border-color');
    }
  }

  &__eyebrow {
    @include heading(fs('xs'), fw('semi-bold'), lh('sm'), 0.19em);
    margin-bottom: space( 'md');
  }

  &__title {
    margin-bottom: space('base');
  }

  &__body {
    position: relative;
    flex: 1 1 60%;
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__text {
    height: 170px;
    overflow: auto;
    margin-bottom: space(110px);
  }

  &__footer {
    @extend %flex-between-center;
  }

  &__controls {
    position: absolute;
    bottom: space(10px);
    right: 0;
    @extend %flex-center-y;
    gap: space('xl');
  }

  &__button {
    width: $testimonials-btn-sizes;
    height: $testimonials-btn-sizes;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    will-change: transform;
    background-color: color('basic-white-color');
    color: color('secondary-text-color');

    transition:
            transform .2s ease,
            background-color .2s ease,
            color .2s ease;

    i {
      font-size: fs('sm');
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.15);
      background-color: color('bg-color-transparent');
      color: color('main-bg-color');
    }

    &:active {
      transform: scale(1.02);
    }
  }
}

.testimonial-author {
  $author-picture-sizes: fs('xl');

  @extend %flex-center-y;
  gap: space('base');

  &__avatar {
    width: $author-picture-sizes;
    height: $author-picture-sizes;
  }

  &__location {
    color: color('secondary-text-color');
  }
}

