.testimonials {

  &__layout {
    background-color: color('accent-light-yellow-color');
    padding: space(75px) space(110px);
    @extend %flex-between;
    gap: space(96px);
  }

  &__header {
    flex: 1 1 40%;

    &--divided {
      padding-right: 80px;
      border-right: 1px solid color('border-color');
    }
  }

  &__eyebrow {
    @include heading(fs('xs'), fw('semi-bold'), lh('sm'), 0.19em);
    margin-bottom: space( 'md');
  }

  &__title {
    margin-bottom: space('base');
  }

  &__body {
    flex: 1 1 60%;
  }

  &__text {
    margin-bottom: space(110px);
  }

  &__footer {
    @extend %flex-between-center;
  }

  &__controls {
    @extend %flex-center-y;
    gap: space('xl');
  }

  &__button {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;

    will-change: transform;

    background-color: color('basic-white-color');
    color: color('text-color');


    transition:
            transform .2s ease,
            background-color .2s ease,
            color .2s ease;

    i {
      font-size: fs('sm');
    }

    &:hover,
    &:focus-visible {
      transform: scale(1.15);
      background-color: color('bg-color-transparent');
      color: color('main-bg-color');
    }

    &:active {
      transform: scale(1.02);
    }
  }


}

.testimonial-author {
  @extend %flex-center-y;
  gap: space('base');

  &__location {
    color: color('secondary-text-color');
  }
}

.testimonials__item {
  display: none;
}
.testimonials__item {
  &--active {
    display: block;
  }
}
