.author-hero {
  padding: space(128px) 0;
  background-color: color('lavander-color');
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url($base-assets-path + 'images/icons/pattern.svg') no-repeat center / cover;
    width: 100%;
    max-width: 1060px;
    height: 23px;

    z-index: 1;
  }

  &__media {
    img {
      border-radius: 25px;
    }
  }

  &__content {
    @extend %flex;
    gap: space('xxl');
  }

  &__body {
    max-width: 670px;
  }

  &__title {
    margin-bottom: space('xl');
  }

  &__description {
    color: color('secondary-text-color');
    margin-bottom: space('xl');
  }

  &__social {
    @extend %flex-center-y;
    gap: space('base');

    a {
      i {
        &:hover {
          color: color('border-color');
        }
      }
    }
  }
}
