.category-hero {
  padding: space(80px) 0 space(80px);
  background-color: color('lavander-color');

  &__content {
    margin: 0 auto;
    max-width: 515px;
    text-align: center;
  }

  &__title {
    font-size: fs('xxl');
    margin-bottom: space('base');
  }

  &__description {
    color: color('secondary-text-color');
    margin-bottom: space('xxl');
  }
}
