.categories {

  &__title {
    text-align: center;
    margin-bottom: space( '4xl');
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: space('xxl');
  }

  &__item {
    padding: space('xxl');
    @include border();
    transition: box-shadow 0.2s ease;

    &--active {
      background-color: color('yellow-color');
    }

    &:hover {
      box-shadow: 0 0 15px 2px color('shadow-color');
    }
  }
}

