@include media('xxxl') {
  .story__content {
    max-width: 540px;
  }
  .story__title {
    font-size: fs('semi-lg');
  }
}

@include media(985px) {
  .story__content {
    padding: space('xxl') space('xxl');
  }
  .story__picture {
    img {
      width: 100%;
    }
  }
}

@include media(725px) {
  .story__content {
    opacity: 0.9;
  }
}

@include media(580px) {
  .story__content {
    position: static;
    text-align: center;
  }
}

@include media('xs') {
  .story__content {
    width: 100%;
    box-sizing: border-box;
  }
}
