@use "sass:map";

body {
  font-family: $main-font-family;
  font-size: fs('xs');
  font-weight: fw('regular');
  background-color: color('basic-white-color');
  color: color('primary-text-color');
  line-height: lh('xl');
}

body.is-locked {
  overflow: hidden;
}

.container,
.container-md {
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: breakpoints('hd');
}

.container-md {
  max-width: breakpoints('xxxl');
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  object-fit: cover;
  overflow: hidden;
}

.title--xxl { @include heading('xl', 'bold', 'md', -0.04em); }

.title--xl  { @include heading('lg', 'bold', 'md', -0.06em); }

.title--md  { @include heading('semi-lg', 'bold','lg', -0.04em); }

.margin-top {
  margin-top: space(128px);
}

.text-uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: fw('extra-bold');
}

.color--medium-grey {
  color: color('secondary-text-color');
}

.accent-light-grey {
  background-color: color('light-grey-color');
}

.accent-light-yellow {
  background-color: color('accent-light-yellow-color');
}

.accent-orange {
  background-color: color('yellow-color');
}


