@use "sass:map";

@mixin media($size) {
  @if map-has-key($breakpoints, $size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }

  } @else if type-of($size) == number {
    @if unit($size) == "" {
      @warn "media(): числу `#{$size}` нужны единицы (px|em|rem...).";
    } @else {
      @media (max-width: $size) {
        @content;
      }
    }

  } @else {
    @warn "media(): нет брейкпоинта `#{$size}` и это не число.";
  }
}

@mixin btn-style($bg, $fg, $hover-bg: null, $border: $bg) {
  background-color: $bg;
  color: $fg;
  border-color: $border;

  &:hover {
    background-color: if($hover-bg != null, $hover-bg, $bg);
  }
};

@mixin btn-size($pad, $size, $lineH: 1.2, $radius: 0) {
  padding: $pad;
  font-size: $size;
  line-height: $lineH;
  border-radius: $radius;
}

@mixin link-style($color: currentColor, $hover: null) {
  color: $color;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color .4s ease;

  &:hover,
  &:focus-visible {
    outline: none;
    border-bottom-color: if($hover != null, $hover, $color);
  }
}


@mixin heading($size, $weight: 'regular', $lh: null, $ls: null) {
  font-size: pick($font-sizes, $size);
  font-weight: pick($font-weights, $weight);
  line-height: if($lh != null, pick($line-height, $lh), normal);

  @if $ls != null {
    letter-spacing: $ls;
  }
}

@mixin border($size: 1px, $color: 'border-color', $style: solid) {
  border: $size $style color($color);
}

@mixin input-base-style($bg, $col) {
  background-color: $bg;
  color: $col;

  &::placeholder {
    font-size: fs(xs);
    color: color(secondary-text-color);
    text-transform: capitalize;
  }

  &:focus-visible {
    outline: none;
    border-color: color(accent-purple);
    box-shadow: 0 0 0 3px rgba(239, 195, 75, 0.35);
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $col;
    box-shadow: 0 0 0 1000px $bg inset;
    transition: background-color 9999s ease-out;
  }
}

@mixin input-size($height, $pd, $fz, $width: 100%, $radius: 0) {
  height: $height;
  padding: 0 $pd;
  font-size: $fz;
  width: $width;
  border-radius: $radius;
}

