@import "./common";
@import "components/header";
@import "components/nav";
@import "components/burger";
@import "components/banner";
@import "components/home-posts";
@import "components/post-card";
@import "components/about";
@import "components/categories";
@import "components/category-card";
@import "components/story";
@import "components/authors";
@import "components/author-card";
@import "components/partners";
@import "components/testimonials";
@import "components/join";
@import "components/footer";
@import "components/modal";

